name: Docker Image CI
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Docker Login
      uses: docker/login-action@v2.0.0
      with:
        username: ${{ secrets.docker_user}}
        password: ${{ secrets.docker_pass}}
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag dotnet-containerid-test:$(GITHUB_RUN_ID)
    - name: Push the Docker image
      run: docker push --all-tags srinivasan21nove/dotnet-containerid-test:$(GITHUB_RUN_ID)
